/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/
.productImg {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.loading {
  width: 3rem;
  height: 3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.heading {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.imw {
  width: 65%;
  position: relative;
}

.product {
  margin-top: 30px;
  margin-bottom: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 9px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000;
}

.ccc:hover .overlay {
  opacity: 0.7;
}

/* .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
.cc1 {
  width: 82%;
  background: #fff;
  color: #000;
  padding: 4px 8px;
  border: 1px solid #000;
  height: 40px;
  border-radius: 7px;
}

@media only screen and (max-width: 553px) {
  .card {
    margin-top: 25px;
  }
}

.card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.body-content {
  margin-top: 94px;
  padding-top: 30px;
  padding-bottom: 40px;
  margin-left: -10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.hidden {
  display: none;
}

.text-align-center {
  text-align: center;
}

.margin-bottom-40px {
  margin-bottom: 40px;
}

.padding-bottom-40px {
  padding-bottom: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-top-35px {
  margin-top: 35px;
}

.margin-top-5px {
  margin-top: 5px;
}

.col-2-50 {
  width: 4%;
}

.col-5-50 {
  width: 10%;
}

.col-10-50 {
  width: 20%;
}

.col-9-50 {
  width: 18%;
}

.col-28-50 {
  width: 56%;
}

.pagination > li{
  margin: 5px;
  display: flex;
}

.pagination > li > a{
  margin-top: auto;
  margin-bottom: auto;
}

.search-empty-result-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6.25rem 0 7.5rem;
}

.search-empty-result-section__icon {
  width: 15rem;
}

.search-empty-result-section__title {
  margin: 0.9375rem 0 0.625rem;
  color: rgba(0,0,0,.87);
  font-size: 1.125rem;
}

.search-empty-result-section__hint {
  font-size: 1.125rem;
  color: rgba(0,0,0,.54);
}

.cart-empty-result-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6.25rem 0 7.5rem;
}

.cart-empty-result-section__icon {
  width: 15rem;
}

.cart-empty-result-section__title {
  margin: 0.9375rem 0 0.625rem;
  color: rgba(0,0,0,.87);
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
